<header>
	<p><strong>Try adding elements to the page</strong></p>
	<div>
		<button (click)="onBtnAddElement('block')">Add block</button>
		<button (click)="onBtnAddElement('text')">Add Text</button>
		<button (click)="onBtnAddElement('form')">Add Form</button>
		<button (click)="onBtnAddElement('table')">Add Table</button>
	</div>
</header>
<br />
<app-paginated-view [pageSize]="'A4'">
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>
	<div #pageContent>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Bibendum arcu vitae elementum curabitur. Aenean et tortor at risus. Habitant morbi tristique
		senectus et netus et malesuada fames ac. Dignissim cras tincidunt lobortis feugiat vivamus. Turpis cursus in hac
		habitasse platea dictumst quisque sagittis. Vitae aliquet nec ullamcorper sit amet. Augue mauris augue neque
		gravida. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Bibendum enim facilisis gravida
		neque convallis a cras semper. Aliquet enim tortor at auctor urna nunc. Nulla porttitor massa id neque aliquam
		vestibulum morbi blandit
	</div>

</app-paginated-view>